/fanart.jpg
/ffprobe
/foo.html
/foo.yml
/marvel.png
/output.dts
/output.thd
/poster.jpg
/test_movie_lib
/test_tv_lib
.direnv
*test_movie_lib
*test_tv_lib

/Kometa-walkthrough/*.mkv
/Kometa-walkthrough/ffmpeg.log
/Kometa-walkthrough/test.sh