tvdb:
  apikey:
    # Enter TVDb API Key (REQUIRED)

omdb:
  apikey:
    # Enter OMDb API Key (REQUIRED)
    # Get your free API key from: http://www.omdbapi.com/apikey.aspx

default_library_folder: test_movie_library
default_library_type: movie
